html, body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 0.9s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

.container form {
  margin-top: 150px;
  width: 400px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container input {
  width: 100%;
  padding: 12px 20px;
  outline: none;
  border: 1px solid rgb(148, 146, 146);
  margin-bottom: 20px;
}

.container input:focus {
  box-shadow: 0 0 5px #f78429;
  border: 3px solid #f78429;
}

.container h2 {
  color: #f78429;
  text-align: center;
  margin-bottom: 30px;
}

.container button {
  background-color: #f78429;
  border: none;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin-top: 20px;
  cursor: pointer;
  margin-bottom: 30px;
  font-size: 1.2em;
}

.container button:hover {
  background-color: #333;
}
