@media screen and (max-width: 8000px) {

  html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }

  #center {
    font-family: 'Roboto', sans-serif;
    background-color: #fff6d2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.9s;
    animation-fill-mode: forwards;
    min-height: 100vh;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0.0;
    }
    100% {
      opacity: 1.0;
    }
  }

  #center h1{
    font-size: 2em;
    font-weight: bold;
    color: #f78429;
  }


}

@media screen and (max-width: 499px) {

  #center{
    justify-content: flex-start;
    padding-top: 200px;
    min-height: 70vh;
  }

  #center h1{
    font-size: 1.25em;
    font-weight: bold;
    color: #f78429;
  }


}





